@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --bg-color: rgb(242, 247, 250);
  --primary-font: 'Roboto', sans-serif;
  --font-primary-color:#36576B
}

body {
  background-color: var(--bg-color);
  font-family: var(--primary-font);
  color: var(--font-primary-color);
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 30px;
  letter-spacing: 0.7px;
}

label {
  font-weight: 700;
  letter-spacing: 0.5px;
}

label input{
  margin-left: 10px;
  border-radius: 5px;
  padding: 3px 5px;
  font-size: 15px;
  width: 90px;
}

.boxes{
  display: flex;
  box-shadow: 0 0 2px #c9d4db;
  border-radius: 4px;
  overflow: hidden;
}

.box {
  width: 100px;
  height: 100px;
  
}